<h3>Edit Review</h3>
<div class="row">
    <form action="/reviews/{{review._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{review.title}}">
                <label for="title">Beer</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="brewery" name="brewery" value="{{review.brewery}}">
                <label for="brewery">Brewery</label>
            </div>
        </div>
         <div class="row">
            <div class="input-field">
                <input type="text" id="style" name="style" value="{{review.style}}">
                <label for="style">Style</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    {{#select review.status}}
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    {{/select}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Review your Beer Here:</h5>
                <textarea id="body" name="body">{{review.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>